[submodule "Seal.SC.Eth"]
	path = Seal.SC.Eth
	url = https://github.com/SealSC/Seal.SC.Eth.git
[submodule "Seal.SC.Eos"]
	path = Seal.SC.Eos
	url = https://github.com/SealSC/Seal.SC.Eos.git
[submodule "Seal.SC.Ont"]
	path = Seal.SC.Ont
	url = https://github.com/SealSC/Seal.SC.Ont.git
[submodule "Seal.SC.Trx"]
	path = Seal.SC.Trx
	url = https://github.com/SealSC/Seal.SC.Trx.git
[submodule "smart-contracts-ethereum"]
	path = smart-contracts-ethereum
	url = https://github.com/SealSC/smart-contracts-ethereum.git
[submodule "smart-contracts-tron"]
	path = smart-contracts-tron
	url = https://github.com/SealSC/smart-contracts-tron.git
[submodule "smart-contracts-ontology"]
	path = smart-contracts-ontology
	url = https://github.com/SealSC/smart-contracts-ontology.git
[submodule "smart-contracts-eos"]
	path = smart-contracts-eos
	url = https://github.com/SealSC/smart-contracts-eos.git
